@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}


 path {
  fill: yellow;
}



.replies{
  border-left: 2px solid hsl(223, 19%, 93%);
}